<h1>Add a new restaurant</h1>
<%= render "form", restaurant: @restaurant %>
<br>
<button class="btn btn-primary"><%= link_to "Back to all restaurants", restaurants_path, :style=>'color: white; text-decoration: none;' %></button>
