<%= render "restaurant", restaurant: @restaurant %>
<button class="btn btn-primary"><%= link_to "Back to all restaurants", restaurants_path, :style=>'color: white; text-decoration: none;' %></button>
